*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

/* ============ common css ======================= */
img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl( 190, 29%, 12%);
    width:100%;
    /* --title-font: 'Raleway', sans-serif; */
}

section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}

/* ============= home background ============= */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(./img/home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ============= navbar ============= */

header{
    padding: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav h3{
    font-size: 1em;
    color: #fff;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding: 0 15px;
}

header nav ul li a,
header nav ul li i{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

header nav ul li:first-child a{
    border-bottom: 2px solid;
    padding-bottom: 5px;
}


/* ======= home page ============ */

.home_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home_col1{
    margin-top: 7%;
}

.home_col1 h4{
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
}

.home_col1 h1{
    width: 70%;
    color: white;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 100;
    line-height: 5rem;
}

.home_col1 h1 span{
    font-weight: 700;
}

.btn1{
    background-color: hsl(190, 64%, 22%);
    padding: 1rem 2rem;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    text-transform: capitalize;
}

.home_col1 .social_links{
    color: white;
    padding: 20px;
    margin-top: 5%;
    justify-content: start;
    display: flex;
}

.home_col1 .social_links i{
    margin-right: 3rem;
    font-size: 20px;
}

.home_col2{
    margin-top: 340px;
    background-color: hsl(190, 64%, 22%);
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_col2 .home_col2_content{
    width: 180px;
    margin-right: 2rem;
}

.home_col2 .home_col2_content h6{
    font-size: 1rem;
    font-weight: bold;
    color: #ffffffe7;
    margin-bottom: 1rem;
}

.home_col2 .home_col2_content a{
    font-size: .8rem;
    font-weight: bold;
    color: #ffffffe7;
}

.home_col2 .home_col2_image img{
    width: 240px;
}

/* ======= about page ============ */
.pageTwo{
    background-color: hsl( 190, 29%, 12%);
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.pageTwo_container{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.pageTwoContent1{
    flex-basis: 50%;
}

.pageTwoContent1 h4{
    font-size: 1.75rem;
    margin-bottom: 25px;
    font-weight: 700;
    color: #ffffffe0;
}

.pageTwoContent1 p{
    font-size: 1rem; 
    color: #ffffffb4;
}

.pageTwo_col2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageTwo_col2 img:first-child{
    width: 230px;
    margin-right: 20px;
}

.pageTwo_col2 img:last-child{
    width: 280px;
}

/* discover section */

.discover,
.exper,
.test-v,
.place{
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 8rem;
    font-family: 'Raleway', sans-serif;
}

.discover .discover_content,
.exper .exper_content,
.test-v .text-v-content,
.newsletter .newsletter_content,
.place .place_title{
    width: 25%;
    margin-bottom: 3.5rem;
}

.discover .discover_content h3,
.exper .exper_content h3,
.test-v .text-v-content h3,
.newsletter .newsletter_content h3,
.place .place_title h3 {
    font-size: 1.35rem;
    text-align: center;
    font-weight: 600;
}

.discover .discover_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15%;
}

.discover .discover_images{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    max-width: 200px;
    height: 300px;
}

.discover .discover_images.image1{
    background-image: url(./img/discover1.jpg);
}

.discover .discover_images.image2{
    background-image: url(./img/discover2.jpg);
    height: 330px;
    max-width: 230px;
}

.discover .discover_images.image3{
    background-image: url(./img/discover3.jpg);
}

.discover .discover_text{
    margin-top: 250px;
    padding-left: 20px;
}

.discover .discover_text h4{
    font-weight: 700;
}

.discover .discover_text p{
    font-size: 12px;
    font-weight: 500;
}

/* experience section */

.exper_cont{
    display: flex;
}

.exper_cont .exper_cont_col1{
    margin-right: 70px;
    width: 20px;
}

.exper_cont .exper_cont_col1 h3{
    margin-bottom: 15px;
}

.exper_cont .exper_cont_col1 p{
    font-size: .87rem;
    color: #ffffffa0;
    font-weight: 500;
    line-height: 25px;
}

.exper_image{
    margin-top: 50px;
}

/* video section */

.test-v h4 {
    color: #ffffffa0;
    /* width: 60%; */
    font-size: .87rem;
    letter-spacing: .05rem;
    text-align: center;
    line-height: 1.4rem;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 0 8rem;
}

/* place section */
.place .place_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 24%;
    flex-wrap: wrap;
}

.place .place_images{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    max-width: 150px;
    height: 250px;
}

.place .place_images.image1{
    background-image: url(./img/place1.jpg);
}

.place .place_images.image2{
    background-image: url(./img/place2.jpg);
}

.place .place_images.image3{
    background-image: url(./img/place3.jpg);
}

.place .place_images.image4{
    background-image: url(./img/place4.jpg);
}

.place .place_images.image5{
    background-image: url(./img/place5.jpg);
}

.place .place_images .place_text{
    margin-top: 30px;
    padding: 0 18px;
}

.place .place_images .place_text h4{
    font-size: .8em;
    /* float: right; */
    display: flex;
    justify-content: end;
}

.place .place_images .place_text h3{
    font-size: 1em;
    margin-top: 120px; 
}

.place .place_images .place_text p{
    font-size: .85em;
    margin-top: 5px; 
}

.place .place_images .place_text .place_inner_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
}

.place .place_images .place_text .place_inner_text span{
    background-color: hsl( 190, 29%, 12%);
    font-weight: 900;
    padding: 10px;
    margin-right: -20px;
}


/* newsletter section */
.newsletter{
    width: 95%;
    background-color: hsl(190, 54%, 12%);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.newsletter .newsletter_content{
    margin-top: 50px;
}

.newsletter p{
    font-size: 1em;
    margin-bottom: 40px;
}

.newsletter .newsletter_input{
    margin-bottom: 30px;
    background-color: hsl( 190, 29%, 16%);
    width: 45%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.newsletter .newsletter_input input{
    background-color: hsl( 190, 29%, 16%);
    width: 250px;
    height: 50px;
    color: #fff;
    padding: 0 5px;
}

.newsletter .newsletter_input button{
    margin-top: -5px;
}

::placeholder{
    color: white;
}

/* ============= company logo  ============= */
.company_logo{
    
}

.companys{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.company_logo .companys img{
    filter: invert(0.7);
    width: 13%;
}