*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    width: 100px;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}